:root {
  --color-bg: whitesmoke;
  --color-fg: black;
  --color-muted: #e0e0e0;
  --color-hl: red;

  --page-padding: 1rem;

  --font-sans: "Arial", "Helvetica", "Helvetica Neue", sans-serif;

  --max-inline-content: 37.5rem;
}
