---

---

<footer class="Footer">
  <p>By Evan Kirkiles</p>
</footer>

<style lang="scss" is:global>
  .Footer {
    border-block-start: 1px solid currentColor;
    background-color: var(--color-bg);
    padding: var(--page-padding);
    inline-size: 100%;
    text-align: center;
  }
</style>
