---
import "@/styles/globals.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-hl: rgb(39, 32, 103);
  }

  body {
    font-family: "Times New Roman", Times, serif;
  }
</style>
